body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-background {
    width: 120%;
    height: 120%;
    position: fixed;
    top: -10%;
    left: -10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -2;
}

.body-background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* 슬라이더 위 sub image들 마우스 올렸을 때 pointer가 나오게 합니다.*/
.image-div {
    cursor: pointer;
}

/* main 이미지는 클릭 이벤트가 없으므로 auto로 설정합니다.*/
#main-image-li{
    /*box-sizing: border-box;*/
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    cursor: auto;
}

/* 슬라이더 관련 */
.slider-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 1000%;
    height: 100%;
}

.slider li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    /* default, but never used */
    width: 50px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.slider li img {
    position: absolute;
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
}

/* 이동 버튼 */
a.control-prev, a.control-next {
    position: absolute;
    z-index: 999;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    visibility: hidden;
}

a.control-prev {
    background-color: rgba(0, 0, 0, 0.4);
    left: 15px;
}

a.control-next {
    background-color: rgba(0, 0, 0, 0.4);
    right: 15px;
}

a.control-prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

a.control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.drag-intro{
  color:#fff;
  font-size:20px;
  height:30px;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 10;
}

.jqDropZone {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index:10000;
    text-align: right;
    color: transparent;
    /*line-height: 50px;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
}

/*.jqDropZone.in {*/
    /*width: 600px;*/
    /*height: 200px;*/
    /*line-height: 200px;*/
    /*font-size: larger;*/
/*}*/

.jqDropZone.hover {
    background: rgba(0,0,0,0.5);
}

.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}


.learn-result{
  display: none;
  min-width: 100px;
  min-height: 100px;
  display: inline-block;
  position:relative;
  z-index:1;
}

.predict-ul{
  list-style: decimal;
}

.predict-objs{
  color: #fff;
}

.predict-styles{
  color: #fff;
}

/* About result */
.menu-btns{
  position: fixed;
  right: 10px;
  top: 10px;
}

.processing-result{
  width: 24px;
  height: 32px;
  background-image: url('/images/report.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }

  .loading-spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
  }

  .achievement {
    display: none;
    font-family:Arial;
    z-index:1;
    position:absolute;
    margin-top:30px;
    margin-left:40px;
  }
  .achievement .medal-container {
    display:block;
    position:relative;
    height:120px;
    width:120px;
    left:50%;
    margin-left:-60px;
    font-size:14px;
  }
  .achievement .medal-container .medal, 
  .achievement .medal-container .ring, 
  .achievement .medal-container .inner {
    max-width:100%;
    max-height:100%;
    background-color:#ff0;
    border-radius:50%;
    border:1x solid #ee0;
  }
  .achievement .medal-container .medal {
    padding:2%;
    border:1px solid #ee0;
  }
  .achievement .medal-container .ring {
    padding:8%;
    background-color:#cc0;
  }
  .achievement .medal-container .inner {
    padding-top:15%;
    padding-bottom:25%;
    background-color:#fe0;
    border:1px solid #ff0;
  }
  .achievement .medal-container .text {
    display:block;
    text-align:center;
    color:#bb0;
    text-transform:uppercase;
    padding-top:4%;
    padding-bottom:4%;
    text-shadow: -1px -1px 0px #ff0;
  }
  .achievement .medal-container .stars {
    display:block;
    text-align:center;
    color:#bb0;
    line-height:20%;
    padding-top:2%;
  }
  .achievement .medal-container .ribbon {
    position:relative;
    width:40%;
    height:50px; /* ribbon height */
    left:50%;
    margin-left:-15%;
    margin-top:-17%;
    z-index:-1;
  }
  .achievement .medal-container .ribbon div {
    float:left;
    height:100%;
    width:40%;
    background-color:#a00;
  }
  .achievement .medal-container .ribbon div.r {
    background-color:#f00;
    -moz-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -webkit-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -o-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    -ms-transform: rotate(-20deg) skewX(0deg) skewY(40deg);
    transform: rotate(-20deg) skewX(0deg) skewY(40deg);
  }
  .achievement .medal-container .ribbon div.l {
    -moz-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -webkit-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -o-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    -ms-transform: rotate(20deg) skewX(0deg) skewY(-40deg);
    transform: rotate(20deg) skewX(0deg) skewY(-40deg);
  }

  .achievement > .ribbon {
    font-size: 12px !important; 
    width: 110px;
    position: relative;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: .5em 1em;
    margin: -3.3em auto 3em;
  }
  .achievement > .ribbon:before, 
  .achievement > .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1em solid #986794;
    z-index: -1;
  }
  .achievement > .ribbon:before {
    left: -1.5em;
    border-right-width: 1.5em;
    border-left-color: transparent;
  }
  .achievement > .ribbon:after {
    right: -1.5em;
    border-left-width: 1.5em;
    border-right-color: transparent;
  }
  .achievement > .ribbon .ribbon-content {
    white-space:nowrap;
    text-align:center;
    color:rgba(255,255,255,.8);
    text-shadow: -1px -1px 0px rgba(0,0,0,.5);
  }
  .achievement > .ribbon .ribbon-content:before, 
  .achievement > .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: -1em;
  }
  .achievement > .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
  }
  .achievement > .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
  }
